body{
	background-image:url("../img/kitchen.jpg");
	background-size:cover;
	background-attachment:fixed;
	background-position:center center;
}
h1 {
	text-align:center;
	mrgin:0 auto;
	color:#663300;
	font-size:3rem;
	font-family: 'Galada', cursive;
}

.submit-wrap {
	padding-top:20px;
	padding-bottom:30px;
}

.textarea-wrap {
	text-align:center;
}

textarea{
  width: 70%;
  height: 300px;
  margin-top:20px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #663300;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.btn-box {
	text-align:center;
	margin-top:10px
}

.btn {
  display: inline-block;
  padding: 0.5em 1em;
  margin-bottom:10px;
  text-decoration: none;
  background: #f7f7f7;
  border-left: solid 6px #ff7c5c;/*左線*/
  color: #ff7c5c;/*文字色*/
  font-weight: bold;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.29);
}

.btn:active {
  box-shadow: inset 0 0 2px rgba(128, 128, 128, 0.1);
  transform: translateY(2px);
}

.element-wrap {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #663300;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.msg {
	font-weight:normal;
	font-size:2rem;
	text-align:center;
	color:white;
}

.uploarded_img {
	text-align:center;
}

.uploarded_img img {
	height:25%;
	width:25%;
}


input[type='text']{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #663300;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='password']{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #663300;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='file']{
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 400px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #663300;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

input[type='submit']{
  border: none;
  display: block;
  width: 100%;
  max-width: 300px;
  padding: 10px;
  border-radius: 5px;
  background-color: #663300;
  color: #fff;
  font-weight: bold;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  margin: 0 auto;
}